.inputContainer {
    --input-color-inactive: #959595;
    --input-color-active: black;

    position: relative;

    width: fit-content;
    height: min-content;
}

.inputContainer input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px 10px 20px;

    width: 100%;
    height: min-content;
    min-width: 200px;

    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.1em;

    color: var(--input-color-inactive);
    border: 1px solid var(--input-color-inactive);
    box-shadow: none !important;
}

.inputContainer input:focus {
    border-color: var(--input-color-active);

    color: var(--input-color-active);
    outline: none
}

.inputContainer input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.inputContainer .floatingLabel {
    position: absolute;
    pointer-events: none;

    top: 10px;
    left: 20px;
    transition: 0.1s ease all;

    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.1em;

    color: var(--input-color-inactive);
}

.inputContainer input:focus~.floatingLabel,
.inputContainer input:not(:focus):valid~.floatingLabel {
    top: -0.6rem;
    left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.75rem;
    opacity: 1;

    color: var(--input-color-active);
    background-color: white;
}