.landing {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .4) url("../../assets/langing.jpg");
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
}

.banner {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    width: 500px;
    height: min-content;
}

.banner .langingText {
    color: white;
    text-align: center;
}

@media (max-width: 576px) {
    .banner {
        width: 300px;
    }

    .banner .langingText {
        font-size: 1.75rem;
    }
}