.centeredItem {
    margin-left: auto;
    margin-right: auto;
    margin: 40px auto 40px auto;

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    width: 400px;
    height: min-content;
}

.centeredItem div, .centeredItem button {
    width: 100%;
}

.userInfo {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 0.1;
}

.userInfo p {
    display: block;
    text-align: center;
}

.describe {
    font-size: 1.75rem;
}

@media (max-width: 576px) {
    .centeredItem {
        width: 300px;
    }

    .userInfo {
        font-size: 2.5rem;
    }
    
    .describe {
        font-size: 1.25rem;
    }
}